@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  background: rgb(165, 202, 216);
}
body {
  font-family: 'Lato', sans-serif !important;
}

.container {
    text-align: center;
    padding: 8px;
}

#reset-score {
    background-color: ghostwhite;
    padding         : 6px;
    border-radius   : 4px;
}

#empty-space {
    height: 60px;
}

#rock, #paper, #scissors {
    cursor: grab;
    padding: 20px;
}